
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>bai3</title>
</head>
<body>
    <div>
    </div>
    <table border="1" width="800">
        <tr>
            <td colspan="5"> Thông tin sinh viên </td>
        </tr>

        <tr>
            <td rowspan="4" width="35%">
                <img src="~/Content/images/36e5238c45ac6679d9706f41a3eb105a-removebg-preview.png" width="270"/>
            </td>
            <td> HỌ VÀ TÊN </td>
            <td colspan="3"><b> Nguyễn Văn An </b></td>
        </tr>

        <tr>
            <td> MÃ SỐ SINH VIÊN </td>
            <td><b> 19DH110110 </b></td>
            <td> GIỚI TÍNH </td>
            <td><b> NAM </b></td>
        </tr>

        <tr>
            <td> EMAIL </td>
            <td><b> an@gmail.com </b></td>
            <td> SỐ ĐIỆN THOẠI </td>
            <td><b> 0122333444 </b></td>
        </tr>

        <tr>
            <td> SỞ THÍCH </td>
            <td colspan="3"><b> VIẾT CHƯƠNG TRÌNH </b></td>
        </tr>
    </table>

</body>
</html>
